---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro"
import About from "../components/About.astro"
import SectionContainer from '../components/SectionContainer.astro';
import TitleSection from '../components/TitleSection.astro';
import Tecnologias from '../components/Tecnologias.astro';
import Proyectos from '../components/Proyectos.astro';
import Contacto from '../components/Contacto.astro';
import Experiencia from '../components/Experiencia.astro';
---

<Layout title="Gustavo Cortes" description='Desarrollador y programador web full stack'>
	<main class="px-4">
		<SectionContainer class="mt-48 mb-36 min-h-screen">
			<Hero />
			</slot>
		</SectionContainer>
		
		<SectionContainer id="sobre-mi" class="flex-col min-h-screen items-center justify-center mb-36">
			<TitleSection >
				Sobre mí
			</TitleSection>
			<About />
		</SectionContainer>

		<SectionContainer class="mb-36 min-h-screen" id="tecnologias">
			<TitleSection >
				Tecnologías
			</TitleSection>
			<Tecnologias />
		</SectionContainer>

		<SectionContainer class="mb-36" id="proyectos">
			<TitleSection >
				Proyectos
			</TitleSection>
			<Proyectos />
		</SectionContainer>


		<SectionContainer class="mb-36" id="experiencia">
			<TitleSection>
				Experiencia
			</TitleSection>
			<Experiencia />
		</SectionContainer>

		<SectionContainer id="contacto">
			<TitleSection>
				Contacto
			</TitleSection>
			<Contacto />
		</SectionContainer>
	</main>
</Layout>

<style>

	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}


</style>
