---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro"
import About from "../components/About.astro"
import SectionContainer from '../components/SectionContainer.astro';
---

<Layout title="Gustavo Cortes" description='Desarrollador y programador web full stack'>
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
			<Hero />
			</slot>
		</SectionContainer>
		<SectionContainer id="sobre-mi" class="pt-32 pb-32 md:pb-36">
			<About />
		</SectionContainer>
	</main>
</Layout>

<style>

	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}


</style>
