---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro"
import About from "../components/About.astro"
---

<Layout title="Gustavo Cortes" description='Diseña tu web junto a mi!'>
	<main class="px-4">
		<Hero />
		<About />
	</main>
</Layout>

<style>

	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}


</style>
