<div class="flex flex-col md:flex-row justify-center items-center gap-x-10 h-auto mt-20 max-w-5xl mx-auto">
    <div class="hidden md:flex flex-shrink-0 h-full">
        <img src="/AboutImage.jpeg" alt="Gustavo" class="h-[60vh] w-[30vh] object-cover rounded-lg">
    </div>
    <div class="flex flex-col justify-between w-full md:w-auto">
        <p class="mb-3 text-sm">Soy Gustavo, <strong>desarrollador web full stack</strong> orientado al front-end y creador de contenido en redes sociales sobre programación. Me apasiona ayudar a las personas, y combinado con mi interés por la tecnología, me llevó a adentrarme en el mundo IT.</p>
        
        <h2 class="font-semibold text-1xl mb-2">Estudios</h2>
        <p class="mb-3 text-sm">Soy un <strong>autodidacta</strong> que busca constantemente nuevas formas de expandir mis conocimientos. En conjunto a mi aprendizaje constante, he completado un <strong>bootcamp</strong> de programación y también soy <strong>técnico en Marketing</strong>, lo que me permite tener una visión integral del desarrollo y la promoción de productos digitales.</p>
        
        <h2 class="font-semibold text-1xl mb-2">Soft Skills</h2>
        <p class="mb-3 text-sm">Mi capacidad para <strong>adaptarme</strong> a diferentes equipos de trabajo refleja mis habilidades de  <strong>comunicación y colaboración</strong>. Abordo los desafíos con responsabilidad y enfoque en la <strong>resolución de problemas</strong> de manera eficiente y en conjunto con mis compañeros.</p>
        
        <h2 class="font-semibold text-1xl mb-2">Soluciones Eficaces</h2>
        <p class="mb-3 text-sm">Me especializo en desarrollar <strong>soluciones simples y eficientes para tareas complejas</strong>, creando interfaces atractivas, responsivas y de alta calidad.</p>
    </div>
</div>
