<div class="flex justify-center items-center gap-x-10 h-auto mt-20 max-w-5xl mx-auto">
    <div class="flex-shrink-0 h-full">
        <img src="/AboutImage.jpeg" alt="Gustavo" class="h-[60vh] w-[30vh] object-cover rounded-lg">
    </div>
    <div class="flex flex-col justify-between">
        <h1 class="font-bold text-4xl mb-4">Sobre mí</h1>
        <p class="mb-6">Soy Gustavo, desarrollador web, especialista en marketing y creador de contenido en redes sociales sobre programación. Me apasiona ayudar a las personas, y esa motivación, combinada con mi interés por la tecnología, me llevó a adentrarme en el mundo IT.</p>
        
        <h2 class="font-semibold text-2xl mb-2">Estudios</h2>
        <p class="mb-6">Soy un autodidacta que busca constantemente nuevas formas de expandir sus conocimientos y aplicarlos en la vida diaria. En conjunto a mi aprendizaje constante que no ha frenado por más de 1 año. He completado un bootcamp de programación y también soy técnico en Marketing, lo que me permite tener una visión integral del desarrollo y la promoción de productos digitales.</p>
        
        <h2 class="font-semibold text-2xl mb-2">Soft Skills</h2>
        <p class="mb-6">Mi capacidad para adaptarme a diferentes equipos de trabajo refleja mis habilidades de comunicación y colaboración. Abordo los desafíos con responsabilidad y enfoque en la resolución de problemas de manera eficiente y en conjunto con mis compañeros.</p>
        
        <h2 class="font-semibold text-2xl mb-2">Soluciones Eficaces</h2>
        <p class="mb-6">Me especializo en desarrollar soluciones simples y eficientes para tareas complejas, creando interfaces atractivas, responsivas y de alta calidad. Además, disfruto de compartir mi conocimiento a través de contenido en redes sociales, enfocado en temas de programación.</p>
    </div>
</div>
