<div class="flex justify-center items-center gap-x-10 h-auto mt-20 max-w-5xl mx-auto">
    <div class="flex-shrink-0 h-full">
        <img src="/AboutImage.jpeg" alt="Gustavo" class="h-[60vh] w-[30vh] object-cover rounded-lg">
    </div>
    <div class="flex flex-col justify-between">
        <p class="mb-3 text-sm">Soy Gustavo, desarrollador web full stack orientado al front-end y creador de contenido en redes sociales sobre programación. Me apasiona ayudar a las personas, y combinado con mi interés por la tecnología, me llevó a adentrarme en el mundo IT.</p>
        
        <h2 class="font-semibold text-1xl mb-2">Estudios</h2>
        <p class="mb-3 text-sm">Soy un autodidacta que busca constantemente nuevas formas de expandir mis conocimientos. En conjunto a mi aprendizaje constante, he completado un bootcamp de programación y también soy técnico en Marketing, lo que me permite tener una visión integral del desarrollo y la promoción de productos digitales.</p>
        
        <h2 class="font-semibold text-1xl mb-2">Soft Skills</h2>
        <p class="mb-3 text-sm">Mi capacidad para adaptarme a diferentes equipos de trabajo refleja mis habilidades de comunicación y colaboración. Abordo los desafíos con responsabilidad y enfoque en la resolución de problemas de manera eficiente y en conjunto con mis compañeros.</p>
        
        <h2 class="font-semibold text-1xl mb-2">Soluciones Eficaces</h2>
        <p class="mb-3 text-sm">Me especializo en desarrollar soluciones simples y eficientes para tareas complejas, creando interfaces atractivas, responsivas y de alta calidad.</p>
    </div>
</div>
