---
import Firebase from "../icons/Firebase.astro";
import Javascript from "../icons/Javascript.astro";
import Next from "../icons/Next.astro";
import Tailwind from "../icons/Tailwind.astro";
---

<div class="relative flex flex-col items-center justify-center w-full mt-6">
    
    <div class="relative h-full w-full bg-white dark:bg-slate-950 p-6 rounded-lg shadow-md border border-solid border-gray-500">
        <!-- Fondo del gradiente en modo light y dark -->
        <div class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)] dark:[mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"></div>
        
        <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-100 relative z-10">Somos Jardín Web</h2>
        <span class="text-sm font-medium text-gray-500 dark:text-gray-400 relative z-10">Proyecto Freelance</span>
        <p class="text-sm text-gray-600 dark:text-gray-300 relative z-10">Febrero 2024 - Junio 2024</p>
        <a href="https://somos-jardinweb.vercel.app/" class="text-blue-600 dark:text-blue-400 font-medium relative z-10">Link a la web</a>
        <p class="mt-4 text-gray-700 dark:text-gray-300 relative z-10">
            Desarrollé en conjunto a un equipo de desarrollo una plataforma E-Learning para una profesora de nivel inicial que crea contenido en redes sociales.
        </p>
        <h3 class="mt-4 text-lg font-semibold text-gray-800 dark:text-gray-100 relative z-10">Tareas realizadas:</h3>
        <ul class="list-disc list-inside mt-2 text-gray-700 dark:text-gray-300 relative z-10">
            <li>Desarrollé e implementé la creación automatizada de usuarios con perfil “Alumno” utilizando Javascript y Firebase.</li>
            <li>Diseñé y optimicé una tabla dinámica de ventas utilizando Javascript.</li>
            <li>Construí landing pages para la promoción de cursos con Tailwind CSS.</li>
            <li>Desarrollé una zona interactiva de comentarios con Javascript y Firebase.</li>
            <li>Implementé un sistema automatizado de envío de correos con NodeMailer y Javascript.</li>
        </ul>
        <div class="flex flex-row items-center space-x-2 mt-4">
            <h4 class="text-lg font-semibold text-gray-800 dark:text-gray-100">
                Tecnologías utilizadas:
            </h4>
            <Next class="size-6 hover:scale-105 transition-transform duration-300 transform"/>
            <Tailwind class="size-6 hover:scale-105 transition-transform duration-300 transform"/>
            <Firebase class="size-6 hover:scale-105 transition-transform duration-300 transform"/>
            <Javascript class="size-6 hover:scale-105 transition-transform duration-300 transform"/>
        </div>
    </div>

    
    <div class="relative h-full w-full bg-white dark:bg-slate-950 p-6 rounded-lg shadow-md mt-8 border border-solid border-gray-500">
        
        <div class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)] dark:[mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"></div>
        
        <h2 class="text-2xl font-semibold text-gray-800 dark:text-gray-100 relative z-10">Grupo Cioffi</h2>
        <span class="text-sm font-medium text-gray-500 dark:text-gray-400 relative z-10">Recursos Humanos y Proyecto Freelance</span>
        <p class="text-sm text-gray-600 dark:text-gray-300 relative z-10">2022 - Actualidad</p>
        <p class="mt-4 text-gray-700 dark:text-gray-300 relative z-10">
            Grupo Cioffi es un grupo económico que gestiona la construcción de edificios y alquileres. En ella, participo en el área de Recursos Humanos, Administración y Cobranzas. Además desarrollé un sistema para gestión de compras de materiales y control de empleados.
        </p>
        <h3 class="mt-4 text-lg font-semibold text-gray-800 dark:text-gray-100 relative z-10">Tareas realizadas:</h3>
        <ul class="list-disc list-inside mt-2 text-gray-700 dark:text-gray-300 relative z-10">
            <li>Control y gestión del personal de las empresas.</li>
            <li>Gestiono un excel para datos de empleados y asignación de edificios.</li>
            <li>Encargado de las cobranzas a proveedores que realizan publicidad en radio.</li>
            <li>Control de gastos realizados en los diversos edificios.</li>
            <li>Desarrolé un dashboard para ingresar a la gestión de los edificios.</li>
            <li>Diseñé y optimicé una tabla dinámica de ventas y empleados utilizando Javascript.</li>
            <li>Implementé un login con credenciales únicas para los encargados de edificios. Cada uno tiene un rol distinto dentro del software.</li>
        </ul>

        <div class="flex flex-row items-center space-x-2 mt-4">
            <h4 class="text-lg font-semibold text-gray-800 dark:text-gray-100">
                Tecnologías utilizadas:
            </h4>
            <Next class="size-6 hover:scale-105 transition-transform duration-300 transform"/>
            <Tailwind class="size-6 hover:scale-105 transition-transform duration-300 transform"/>
            <Firebase class="size-6 hover:scale-105 transition-transform duration-300 transform"/>
            <Javascript class="size-6 hover:scale-105 transition-transform duration-300 transform"/>
        </div>
    </div>
</div>
