---
import MenuIcon from "../icons/MenuIcon.astro"
---

<header class="flex justify-between items-center py-3 w-full mx-auto fixed z-20 shadow-md">
    <a href="#top"><img 
    class="rounded-full mx-4 object-cover w-12 h-12 sm:w-14 sm:h-14 md:w-16 md:h-16 lg:w-18 lg:h-18"
    src="/yo3D.jpg" 
    alt="Logo">
</a>

        <!-- Menú hamburguesa para móviles -->
    <div class="flex lg:hidden mx-4">
        <button id="menu-toggle">
        <MenuIcon class="w-8 h-8 fill-current text-gray-800 dark:text-white" />
        </button>
    </div>

    <nav id="menu" class="hidden lg:flex flex-row gap-x-4 opacity-90">
        <a href="#top" class="nav-link">Inicio</a>
        <a href="#sobre-mi" class="nav-link">Sobre mí</a>
        <a href="#tecnologias" class="nav-link">Tecnologías</a>
        <a href="#proyectos" class="nav-link">Proyectos</a>
        <a href="#experiencia" class="nav-link">Experiencia</a>
        <a href="#contacto" class="nav-link">Contacto</a>
    </nav>
</header>

<style>
    .nav-link {
        border-radius: 10px;
        transition: background-color 0.3s ease, opacity 0.3s ease;
        opacity: 0.6;
    }

    .nav-link:hover {
        background-color: rgba(173, 216, 230, 0.6); /* Celeste pastel con opacidad */
        opacity: 1;
    }

    .dark .nav-link:hover {
        background-color: rgba(42, 32, 100, 0.6); /* Azul más oscuro en modo oscuro */
        opacity: 1;
    }
</style>

<script>
    const menuToggle = document.getElementById("menu-toggle");
    const menu = document.getElementById("menu");

    menuToggle?.addEventListener("click", () => {
        if (menu?.classList.contains("hidden")) {
        menu?.classList.remove("hidden");
        menu.classList.add("flex", "flex-col", "absolute", "top-16", "right-0", "w-2/3", "bg-white", "dark:bg-slate-800", "shadow-lg", "p-4", "gap-y-4");
        } else {
        menu?.classList.add("hidden");
        menu?.classList.remove("flex", "flex-col", "absolute", "top-16", "right-0", "w-2/3", "bg-white", "dark:bg-slate-800", "shadow-lg", "p-4", "gap-y-4");
        }
    });
</script>