<div>
    <div>
        <h2>Hola! Soy</h2>
        <h1>GUSTAVO</h1>
        <span> Desarrollador web full stack || QA Automation Tester </span>
        <button>Descargar CV</button>
        <button>Ver proyectos</button>
    </div>
    <div>
        <img src="/HeroImage.jpeg" alt="Gustavo Cortés" class="rounded-full w-20 h-20">
    </div>
</div>