---
import GitHub from "../icons/GitHub.astro"
import Gmail from "../icons/Gmail.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import TikTok from "../icons/TikTok.astro";
---

<div class="flex flex-col md:flex-row justify-center items-center gap-x-10 gap-y-8 h-auto mt-10 px-4">
    <div class="flex flex-col justify-center text-center md:text-left">
        <h2 class="text-2xl md:text-3xl" >Hola! Soy</h2>
        <h1 class="font-bold text-5xl md:text-8xl">GUSTAVO.</h1>

        <span id="dynamicText" class="text-lg md:text-xl block min-h-[3rem]" />
        <div class="mt-5 flex flex-col md:flex-row gap-4 justify-center md:justify-start items-center">
            <button id="download-cv" class="bg-slate-600 text-white py-2 px-4 rounded-lg hover:bg-slate-800 transition w-[150px]">
                Descargar CV
            </button>
            <button class="bg-transparent border border-slate-400 text-slate-400 py-2 px-4 rounded-lg hover:bg-slate-400 hover:text-white transition w-[150px]">
                <a href="#proyectos">Ver proyectos</a>
            </button>
        </div>

        <div class="flex justify-center md:justify-start space-x-6 mt-8">
            <a href="https://www.linkedin.com/in/cortes-gustavo/" aria-label="Perfil de LinkedIn de Gustavo Cortes" target="_blank" class="hover:scale-110 transition transform duration-300">
                <LinkedIn class="w-6 h-6 md:w-8 md:h-8 text-blue-600"/>
            </a>
            <a href="https://github.com/GCortesGustavo" target="_blank" aria-label="Perfil de Github de Gustavo Cortes" class="hover:scale-110 transition transform duration-300">
                <GitHub class="w-6 h-6  md:w-8 md:h-8 text-gray-800"/>
            </a>
            <a href="mailto:gustavocortes934@gmail.com" aria-label="Enviar Mail a Gustavo Cortés" class="hover:scale-110 transition transform duration-300">
                <Gmail class="w-6 h-6 md:w-8 md:h-8 text-red-600"/>
            </a>
            <a href="https://www.tiktok.com/@gustimendotech" aria-label="Perfil de Tik Tok de Gustavo Cortes" target="_blank" class="hover:scale-110 transition transform duration-300">
                <TikTok class="w-8 h-8 text-red-600"/>
            </a>
        </div>
        
    </div>
    <div class="flex items-center">
        <img src="/ABOUT.jpeg" alt="Gustavo Cortés" class="rounded-full object-cover h-[200px] w-[200px] md:h-[300px] md:w-[300px]">
    </div>
</div>

<style>

</style>

<script>
    const typeFunction = async () => {
        const element = document.getElementById("dynamicText");

        if (!element) {
            console.error("Element not found");
            return; 
        }

        const phrases = ["Desarrollador Web Full Stack", "QA Automatizador de Pruebas"];
        let currentPhrase = 0;

        const typePhrase = async (phrase: string) => {
            for (let i = 0; i < phrase.length; i++) {
                element.textContent += phrase[i];
                await new Promise(resolve => setTimeout(resolve, 100));
            }
            await new Promise(resolve => setTimeout(resolve, 2000));
        };

        const deletePhrase = async () => {
            if (!element || !element.textContent) return; // Validación adicional
            while (element.textContent.length > 0) {
            element.textContent = element.textContent.slice(0, -1);
            await new Promise(resolve => setTimeout(resolve, 50));
        }
        };

        while (true) {
            await typePhrase(phrases[currentPhrase]);
            await deletePhrase();
            currentPhrase = (currentPhrase + 1) % phrases.length;
        }
    };

    window.onload = typeFunction;

    const downloadCV = () => {
        const link = document.createElement("a")
        link.href="/GUSTAVO-CORTES-CV-FS.pdf"
        link.download="GUSTAVO-CORTES-CV-FS.pdf"
        document.body.appendChild(link)
        link.click()
        document.body.removeChild(link);
    }

    document.getElementById("download-cv")?.addEventListener('click', downloadCV);
</script>