---
import GitHub from "../icons/GitHub.astro";
import Gmail from "../icons/Gmail.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import TikTok from "../icons/TikTok.astro";
---

<div class="flex justify-center items-center gap-x-10 h-auto mt-20">
    <div class="flex flex-col justify-center">
        <h2 class="text-3xl" >Hola! Soy</h2>
        <h1 class="font-bold text-8xl">GUSTAVO.</h1>
        <span id="dynamicText" class="text-xl block min-h-[2rem]" />
        <div class="mt-5 flex gap-4">
            <button class="bg-slate-400 text-white py-2 px-4 rounded-lg hover:bg-slate-500 transition">Descargar CV</button>
            <button class="bg-transparent border border-slate-400 text-slate-400 py-2 px-4 rounded-lg hover:bg-slate-400 hover:text-white transition">Ver proyectos</button>
        </div>
        <div class="flex justify-start space-x-6 mt-8">
            <a href="https://www.linkedin.com/in/cortes-gustavo/" target="_blank" class="hover:scale-110 transition transform duration-300">
                <LinkedIn class="w-8 h-8 text-blue-600"/>
            </a>
            <a href="https://github.com/GCortesGustavo" target="_blank" class="hover:scale-110 transition transform duration-300">
                <GitHub class="w-8 h-8 text-gray-800"/>
            </a>
            <a href="mailto:gustavocortes934@gmail.com" class="hover:scale-110 transition transform duration-300">
                <Gmail class="w-8 h-8 text-red-600"/>
            </a>
            <a href="https://www.tiktok.com/@gustimendotech" target="_blank" class="hover:scale-110 transition transform duration-300">
                <TikTok class="w-8 h-8 text-red-600"/>
            </a>
        </div>
        
    </div>
    <div class="flex items-center">
        <img src="/HeroImage.jpeg" alt="Gustavo Cortés" class="rounded-full object-cover h-full max-h-[300px] w-auto">
    </div>
</div>

<style>

</style>

<script>
const typeFunction = async () => {
    const element = document.getElementById("dynamicText");

    if (!element) {
        console.error("Element not found");
        return; 
    }

    const phrases = ["Desarrollador Web Full Stack", "QA Automatizador de Pruebas"];
    let currentPhrase = 0;

    const typePhrase = async (phrase: string) => {
        for (let i = 0; i < phrase.length; i++) {
            element.textContent += phrase[i];
            await new Promise(resolve => setTimeout(resolve, 100));
        }
        await new Promise(resolve => setTimeout(resolve, 2000));
    };

    const deletePhrase = async () => {
        if (!element || !element.textContent) return; // Validación adicional
        while (element.textContent.length > 0) {
        element.textContent = element.textContent.slice(0, -1);
        await new Promise(resolve => setTimeout(resolve, 50));
    }
    };

    while (true) {
        await typePhrase(phrases[currentPhrase]);
        await deletePhrase();
        currentPhrase = (currentPhrase + 1) % phrases.length;
    }
};

    window.onload = typeFunction;
</script>