---
import AstroIcon from "../icons/AstroIcon.astro"
import CSS from "../icons/CSS.astro"
import Cypress from "../icons/Cypress.astro"
import Figma from "../icons/Figma.astro"
import Firebase from "../icons/Firebase.astro"
import Git from "../icons/Git.astro"
import GitHub from "../icons/GitHub.astro"
import Iconhtml from "../icons/Iconhtml.astro"
import Javascript from "../icons/Javascript.astro"
import Next from "../icons/Next.astro"
import Node from "../icons/Node.astro"
import Playwright from "../icons/Playwright.astro"
import PostgreeSQL from "../icons/PostgreeSQL.astro"
import React from "../icons/React.astro"
import Sequelize from "../icons/Sequelize.astro"
import Svelte from "../icons/Svelte.astro"
import Tailwind from "../icons/Tailwind.astro"
import TypeScript from "../icons/TypeScript.astro"
import VisualStudio from "../icons/VisualStudio.astro"
import Vue from "../icons/Vue.astro"
---


<div class="relative w-full h-auto overflow-hidden mt-6">
    <div class="flex items-center justify-center gap-6 flex-wrap p-2">
        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform">
        <Javascript class="h-16 w-16 md:h-20 md:w-20"/>
        <h2 class="font-bold text-sm md:text-base">Javascript</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform">
            <TypeScript class="h-16 w-16 md:h-20 md:w-20"/>
            <h2 class="font-bold text-sm md:text-base">TypeScript</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform">
            <Next class="h-16 w-16 md:h-20 md:w-20"/>
            <h2 class="font-bold text-sm md:text-base">Next</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform">
            <React class="h-16 w-16 md:h-20 md:w-20"/>
            <h2 class="font-bold text-sm md:text-base">React</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform">
            <AstroIcon class="h-16 w-16 md:h-20 md:w-20" />
            <h2 class="font-bold text-sm md:text-base">Astro</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform">
            <Vue class="h-16 w-16 md:h-20 md:w-20"/>
            <h2 class="font-bold text-sm md:text-base">Vue</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform">
            <Node class="h-16 w-16 md:h-20 md:w-20"/>
            <h2 class="font-bold text-sm md:text-base">Node</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform">
            <Svelte class="h-16 w-16 md:h-20 md:w-20"/>
            <h2 class="font-bold text-sm md:text-base">Svelte</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform">
            <Git class="h-16 w-16 md:h-20 md:w-20"/>
            <h2 class="font-bold text-sm md:text-base">Git</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform">
            <Iconhtml class="h-16 w-16 md:h-20 md:w-20"/>
            <h2 class="font-bold text-sm md:text-base">HTML</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform" >
            <CSS class="h-16 w-16 md:h-20 md:w-20" />
            <h2 class="font-bold text-sm md:text-base">CSS</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform" >
            <Tailwind class="h-16 w-16 md:h-20 md:w-20"/>
            <h2 class="font-bold text-sm md:text-base">Tailwind</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform" >
            <Firebase class="h-16 w-16 md:h-20 md:w-20"/>
            <h2 class="font-bold text-sm md:text-base">Firebase</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform" >
            <PostgreeSQL class="h-16 w-16 md:h-20 md:w-20"/>
            <h2 class="font-bold text-sm md:text-base">PostgreeSQL</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform" >
            <Sequelize class="h-16 w-16 md:h-20 md:w-20"/>
            <h2 class="font-bold text-sm md:text-base">Sequelize</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform" >
            <Cypress class="h-16 w-16 md:h-20 md:w-20"/>
            <h2 class="font-bold text-sm md:text-base">Cypress</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform" >
            <Playwright class="h-16 w-16 md:h-20 md:w-20"/>
            <h2 class="font-bold text-sm md:text-base">Palywright</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform" >
            <Figma class="h-16 w-16 md:h-20 md:w-20"/>
            <h2 class="font-bold text-sm md:text-base">Figma</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform" >
            <VisualStudio class="h-16 w-16 md:h-20 md:w-20"/>
            <h2 class="font-bold text-sm md:text-base">VSCode</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform" >
            <GitHub class="h-16 w-16 md:h-20 md:w-20" />
            <h2 class="font-bold text-sm md:text-base">GitHub</h2>
        </div>    
    </div>
</div>