---
import AstroIcon from "../icons/AstroIcon.astro"
import CSS from "../icons/CSS.astro"
import Cypress from "../icons/Cypress.astro"
import Figma from "../icons/Figma.astro"
import Firebase from "../icons/Firebase.astro"
import Git from "../icons/Git.astro"
import GitHub from "../icons/GitHub.astro"
import Iconhtml from "../icons/Iconhtml.astro"
import Javascript from "../icons/Javascript.astro"
import Next from "../icons/Next.astro"
import Node from "../icons/Node.astro"
import Playwright from "../icons/Playwright.astro"
import PostgreeSQL from "../icons/PostgreeSQL.astro"
import React from "../icons/React.astro"
import Sequelize from "../icons/Sequelize.astro"
import Svelte from "../icons/Svelte.astro"
import Tailwind from "../icons/Tailwind.astro"
import TypeScript from "../icons/TypeScript.astro"
import VisualStudio from "../icons/VisualStudio.astro"
import Vue from "../icons/Vue.astro"
---


<div class="relative w-full h-auto overflow-hidden mt-6">
    <div class="flex items-center justify-center gap-6 flex-wrap p-2">
        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform">
        <Javascript class="size-20"/>
        <h2 class="font-bold">Javascript</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform">
            <TypeScript class="size-20"/>
            <h2 class="font-bold">TypeScript</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform">
            <Next class="size-20"/>
            <h2 class="font-bold">Next</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform">
            <React class="size-20"/>
            <h2 class="font-bold">React</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform">
            <AstroIcon class="size-20 " />
            <h2 class="font-bold">Astro</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform">
            <Vue class="size-20"/>
            <h2 class="font-bold">Vue</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform">
            <Node class="size-20"/>
            <h2 class="font-bold">Node</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform">
            <Svelte class="size-20"/>
            <h2 class="font-bold">Svelte</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform">
            <Git class="size-20"/>
            <h2 class="font-bold">Git</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform">
            <Iconhtml class="size-20"/>
            <h2 class="font-bold">HTML</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform" >
            <CSS class="size-20" />
            <h2 class="font-bold">CSS</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform" >
            <Tailwind class="size-20"/>
            <h2 class="font-bold">Tailwind</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform" >
            <Firebase class="size-20"/>
            <h2 class="font-bold">Firebase</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform" >
            <PostgreeSQL class="size-20"/>
            <h2 class="font-bold">PostgreeSQL</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform" >
            <Sequelize class="size-20"/>
            <h2 class="font-bold">Sequelize</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform" >
            <Cypress class="size-20"/>
            <h2 class="font-bold">Cypress</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform" >
            <Playwright class="size-20"/>
            <h2 class="font-bold">Palywright</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform" >
            <Figma class="size-20"/>
            <h2 class="font-bold">Figma</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform" >
            <VisualStudio class="size-20"/>
            <h2 class="font-bold">VSCode</h2>
        </div>

        <div class="flex flex-col items-center hover:scale-105 transition-transform duration-300 transform" >
            <GitHub class="size-20" />
            <h2 class="font-bold">GitHub</h2>
        </div>    
    </div>
</div>